<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Генерация письма</title>
</head>
<body>
    <h1>Создать письмо</h1>
    <form method="post">
        <label for="address_text">Адрес:</label><br>
        <textarea id="address_text" name="address_text" rows="4" cols="50">К директору\nМБОУ «Цнинская средняя общеобразовательная школа №2»\nС.В. Черниковой</textarea><br><br>
        <label for="ownline_text">Вводный текст:</label><br>
        <textarea id="ownline_text" name="ownline_text" rows="2" cols="50">Уважаемая Светлана Вячеславовна!</textarea><br><br>
        <button type="submit">Создать документ</button>
    </form>
</body>
</html>